/* General Styles */
:root {
    --primary-color: #272343;
    --secondary-color: #f0f0f0;
    --font-size-small: 14px;
    --font-size-medium: 16px;
    --font-size-large: 18px;
    --spacing-small: 8px;
    --spacing-medium: 16px;
    --spacing-large: 24px;
    --card-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    --card-shadow-hover: 0 6px 12px rgba(0, 0, 0, 0.2);
}
/* Input Page */
.input-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: red;
}

.image-input{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 500px;
    border-radius: 31.746px;
    border: 3.81px dashed #000;
}

/* Output Page */
.imageResult{
    width: 100%;
}

/* Product Card */

.product-card {
    background-color: var(--Gray-Scales-White, #ffffff);
    border-radius: 8px;
    padding: 16px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    margin-bottom: 20px;
}

.product-card:hover {
    transform: scale(1.05);
    box-shadow: var(--card-shadow-hover);
}

.product-card-content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.product-card-desc {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}
.product-card-desc p {
    font-style: bold;
    font-weight: 700;
}

.card-desc {
    display: flex;
    flex-direction: row;
    align-items: center;
    line-height: 1; /* Match the font size */
    height: auto; /* Ensure the height adjusts dynamically */
    gap: 8px; 
}

.card-desc p{
    font-size: 16px; 
    font-weight: 300;
}

.product-card-desc h1 {
    color: var(--Gray-Scales-Black, #272343);
    font-size: 16px;
    font-style: bold;
    font-weight: 700;
    text-transform: capitalize;
    flex-direction: column;
    margin-bottom: 0px; 
}

/* Responsive styles for smaller screens */
@media (max-width: 768px) {

    .input-container {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        background-color: red;
    }

    .product-card {
        flex-direction: column; /* Stack content vertically */
        align-items: center;
        text-align: center;
    }

    .product-card img {
        width: 100%;
    }

    .product-card-content {
        align-items: center;
    }

    .card-desc {
        display: flex;
        flex-direction: row;
        align-items: center; 
        margin-top: 0;
    }
}




