/* Input Page */
.input-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
}

.product-card-container {
    display: grid; /* Use CSS Grid */
    grid-template-columns: repeat(3, 1fr); /* 3 columns */
    gap: 16px; /* Space between grid items */
    justify-content: center; /* Center the grid */
}

.ai-button-container {
    display: flex;
    justify-content: center;
    margin: 30px; 
    box-sizing: border-box; 
}

@media (max-width: 768px) {
    .product-card-container {
        grid-template-columns: 1fr; /* Stack items in a single column for smaller screens */
        gap: 16px;
        text-align: center;
    }

    .input-container {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }
}